<nav class="navbar fixed-top">

    <div class="main">
        <div id="brand">
            <h3><a href="#"><b>JG</b></a></h3>
        </div>
        <div>
            <ul class="links">
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="#about">About</a></li>
                <li class="item"><a href="#skills">Skills</a></li>
                <li class="item"><a href="#edu">Education</a></li>
                <li class="item"><a href="#exp">Experience</a></li>
                <li class="item"><a href="#contact">Contact</a></li>
                <!-- <li class="item"><a href="#" class="btn">Contact</a></li> -->
            </ul>
        </div>
        <i class="bx bx-menu menu" onclick="showSidebar()"></i>
        <i class="bx bx-x close" onclick="hideSidebar()"></i>
    </div>
    
    <div class="sidebar">
        <ul class="links">
            <li class="item"><a href="/" onclick="hideSidebar()">Home</a></li>
            <li class="item"><a href="#about" onclick="hideSidebar()">About</a></li>
            <li class="item"><a href="#skills" onclick="hideSidebar()">Skills</a></li>
            <li class="item"><a href="#edu" onclick="hideSidebar()">Education</a></li>
            <li class="item"><a href="#exp" onclick="hideSidebar()">Experience</a></li>
            <li class="item"><a href="#contact" onclick="hideSidebar()">Contact</a></li>
            <!-- <li class="item"><a href="#" class="btn">Contact</a></li> -->
        </ul>
    </div>
    
</nav>